In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [9]:
#loading the data 

df_species = pd.read_excel("data/raw/Observations 2012-2025.xlsx", sheet_name = 0)

df_sites = pd.read_excel("data/raw/Observations 2012-2025.xlsx", sheet_name = 1)

df_observations = pd.read_excel("data/raw/Observations 2012-2025.xlsx", sheet_name = 2)

In [ ]:
#removing empty columns
del df_species["Unnamed: 0"]
del df_species["Unnamed: 1"]

df_species.columns = ["French Name", "Latin Name", "Origin"]

# ligne à ajouter (elle est prise pour les noms des colonnes au chargement)
# ['Aigrette bleue', 'Egretta caerulea', 'Migrateur']


del df_sites["Unnamed: 0"]
del df_sites["Unnamed: 1"]

# removing the first line containing the names of the columns
df_sites.drop(0, inplace = True) 

# Renaming the columns names for sites 
df_sites.columns = ["Transect", "X","Y","Type","Site","Site2"]

In [12]:
df_sites

        Transect       X        Y         Type Site   Site2
1       Aéroport  714593  1614233     Mangrove   S1    SIPI
2       Aéroport  714416  1614194     Mangrove   S1    S1P2
3       Aéroport  714133  1614141     Mangrove   S1    S1P3
4       Aéroport  713914  1614103     Mangrove   S1    S1P4
5       Aéroport  713719  1614062     Mangrove   S1    S1P5
..           ...     ...      ...          ...  ...     ...
646  Bois Pothau  723470  1626744     Agricole  S65   S65P6
647  Bois Pothau  723445  1626828     Agricole  S65   S65P7
648  Bois Pothau  723427  1626945  Forêt sèche  S65   S65P8
649  Bois Pothau  723481  1627061  Forêt sèche  S65   S65P9
650  Bois Pothau  723598  1627125  Forêt sèche  S65  S65P10

[650 rows x 6 columns]

In [16]:
df_sites

        Transect       X        Y         Type Site   Site2
1       Aéroport  714593  1614233     Mangrove   S1    SIPI
2       Aéroport  714416  1614194     Mangrove   S1    S1P2
3       Aéroport  714133  1614141     Mangrove   S1    S1P3
4       Aéroport  713914  1614103     Mangrove   S1    S1P4
5       Aéroport  713719  1614062     Mangrove   S1    S1P5
..           ...     ...      ...          ...  ...     ...
646  Bois Pothau  723470  1626744     Agricole  S65   S65P6
647  Bois Pothau  723445  1626828     Agricole  S65   S65P7
648  Bois Pothau  723427  1626945  Forêt sèche  S65   S65P8
649  Bois Pothau  723481  1627061  Forêt sèche  S65   S65P9
650  Bois Pothau  723598  1627125  Forêt sèche  S65  S65P10

[650 rows x 6 columns]